*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 40px;
    color: #97BCC7;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


.logo {
    margin-right: auto;
}

body {  
  background: linear-gradient(90deg,#053D57 , #03141D );    
}

a {
  color: #97BCC7;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #053D57;
}

/* using h1 for both home and about me */
h1 {
    color: #ffffff;
}

h2 {
    color: #97BCC7;
}

/* I am using main for both home and about me */
main {
    display: flex;
    height: 100vh;
}

.text, .img {
  flex: 1;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.img {
  color: #97BCC7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  position: absolute; /* overlap */
  width: 275px;
  height: 275px;
  border-radius: 70%;
  opacity: 0.5;
  z-index: 2; /* make sure it's above text */
}

pre {

}

code {
    color: #97BCC7 ;
    opacity: 0.2;
}

/* About me */

.abtext, .abimg {
  flex: 1;
}

.abtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  
}

.abimg {
 
}

p {
  color: #97BCC7;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}