*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 40px 40px 0 40px;
    color: #97BCC7;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    
}


.logo {
    margin-right: auto;
}

body {  
  background: linear-gradient(90deg,#053D57 , #03141D );    
}

a {
  color: #97BCC7;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #053D57;
}

/* using h1 for both home and about me */
h1 {
    color: #ffffff;
}

h2 {
    color: #97BCC7;
}

/* I am using main for all four pages */
main {
    display: flex;
    height: 100vh;
    
}

.text, .img {
  flex: 1;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 200px;
}

.img {
  color: #97BCC7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  position: absolute; /* overlap */
  top: 200px;

  width: 250px;
  height: 250px;
  border-radius: 70%;
  opacity: 0.8;
  z-index: 2; /* make sure it's above text */
}

pre {

}

code {
    color: #97BCC7 ;
    opacity: 0.2;
}

/* About me */


.abtext, .abimg {
  flex: 1;
}

.abtext {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px;
    margin: 0;
}

.abimg {

}

p {
  color: #97BCC7;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal; 

}

/* Skills */

.skills-header {
 padding: 20px;
 font-size: 60px;
}

.sktext, .skimg {
  flex: 1;
}

.sktext {
  
}

.skimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 40px 0;
}

.download-resume {
  background-color: #97BCC7;
  color: #03141D;
  height: 20px;
  width: 150px;
  border: 0;
  margin-bottom: 10px;
  border-radius: 20px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.download-resume:hover {
  color: white;
}

.skimg img {
  height: 70vh;
  width: 400px;
  border-radius: 10px;
  padding-bottom: 5px;
}

/* contact me */

.main-con {
  display: flex;
  flex-direction: row;
}

.conimg,.context {
  flex: 1;
}

.contact-header {
 padding: 20px;
 font-size: 60px;
}

.context,.conimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.context {
  margin-bottom: 40px;
}

label {
    color: #97BCC7;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

input {
    background-color: #97BCC7;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border: 0;
   
}

#name,#email {
  height: 35px;
  width: 350px;
   border-radius: 10px;
}

#message {
  height: 100px;
  width: 350px;
  border-radius: 15px;
}

button {
  color: #03141D;
  background-color: #ffffff;
  border-radius: 5px;
  height: 25px;
  width: 60px;
  border: 0;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  cursor: pointer;
  color: #97BCC7;
}

.email,.git,.link {
  background-color: #97BCC7;
  color: #ffffff;
  height: 25px;
  width: 300px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.inner-con {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 15px;
}

.input::placeholder {
 text-align: center;
}